.pagination {
  margin: 0 -5px;
  .page-item.active .page-link {
    // a{
    background-color: #ef5e4e;
    border-color: #ef5e4e;
    // }
  }
  .page-item{

    margin: 0 5px;
  }
  .page-item.nav {
    .page-link {
      background-color: #ef5e4e;
      border-color: #ef5e4e;
      color: #fff;
    }
    &.disabled{
      opacity: .5;
    }
  }
}
