body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  transition: 0.2s all ease-in-out;
  // font-smooth: auto;
  // scrollbar-width: thin;
  // scrollbar-track-color: #fd7400;
  overflow-x: hidden;
  &::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 10px;
  }
  -webkit-font-smoothing: antialiased;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &:focus {
    outline: none;
  }
}
$heading_font: 'Ubuntu', sans-serif;;
$body_font: "Poppins", sans-serif;
ul,
ol {
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  // font-family: $heading_font;
  font-family: $heading_font;

}
.container {
  max-width: 1175px !important;
  margin: auto;
  padding: 0 15px;
}
.m-0 {
  margin: 0;
}
//colors
$color-white: #ffffff;
$color-black: #000;

#nprogress .bar {
  background: #fd7400 !important;
  height: 4px !important;
  border: none !important;
  outline: none !important;
}
img {
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  .page_loader_outer {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    transition: 2s all ease-in-out;
    background-color: rgba($color: #262b2f, $alpha: 1);
   
    z-index: 1000;
    pointer-events: none;
    .find_home{
      transition: 2s all ease-in;
      opacity: 0;
      visibility: hidden;
      transform: translateY(200px);
      h2{
        font-size: 85px;
        color: #fd7400;
      }
    }
    .page_loader_iner{
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column;
      transition: 1s all ease-in-out;
    }
    .spinnerloader {
      width: 56px;
      height: 56px;
      display: grid;
      border: 4.5px solid #0000;
      border-radius: 50%;
      margin-top: 100px;
      border-right-color: #fd7400;
      animation: spinnerloader-a4dj62 1s infinite linear;
      transition: all ease-in-out 1s;
   }
   img{
    width: 100%;
    height: 100%;
   }
   
   .spinnerloader::before,
   .spinnerloader::after {
      content: "";
      grid-area: 1/1;
      margin: 2.2px;
      border: inherit;
      border-radius: 50%;
      animation: spinnerloader-a4dj62 2s infinite;
   }
   
   .spinnerloader::after {
      margin: 8.9px;
      animation-duration: 3s;
   }
   
   @keyframes spinnerloader-a4dj62 {
      100% {
         transform: rotate(1turn);
      }
   }
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
  }
  &.loaded{
    .page_loader_outer{
      .page_loader_iner{
        .spinnerloader{

          transform: translateY(-200px);
          opacity: 0;
          visibility: hidden;
        }
      }
    }
    .find_home{
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
   
    }
  }
}
a:focus {
  box-shadow: none !important;
}
.btn-outline-danger {
  border-color: #fd7400;
  color: #fd7400 !important;
  &:hover {
    opacity: 1;
    color: #fff !important;
    background-color: #fd7400;
  }
  &:focus {
    opacity: 1;
    background-color: #fd7400;
    color: #fff !important;
  }
}

.loadingComplete{
.page_loader_outer{
  transform: translateY(-100%);
}
}
.btn{
  img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
.btn-danger {
  background-color: #fd7400;
  transition: 0.2s all ease-in-out;
  border:1px solid #fd7400;

  &:hover {
    background-color: transparent;
    color: #fd7400;
  }
  &:focus {
    background-color: transparent;
  }
}
.btn-green {
  background-color: #788402;
  transition: 0.2s all ease-in-out;
  color: #fff;
  &:hover {
    opacity: 0.5;
    color: #fff;
    background-color: #788402;
  }
  &:focus {
    background-color: #788402;
  }
}
.breadcrumb {
  li,
  a {
    color: #000;
    text-decoration: none;
  }
}
