footer {
  padding: 50px 0;
  border-top: 1px solid #fff;
  // background-color: #788402;
  background-color: #262b2f;
  p{
    font-size: 11px;
    font-weight: 300;
    color: #fff;
  }
  ul{
    li{
      a{
        transition: .2s all ease-in-out;
        &:hover{
          opacity: .6;
        }
      }
    }
  }
  .logo {
    display: block;
    width: 200px;
    img {
      object-fit: contain;
    }
  }
  .fw-nromal{
    font-family: $body_font;
  }
  label{
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #fff;
    text-align: right;
    display: block;
  }
  .mail-info {
    display: flex;
    margin-left: auto;
    width: max-content;
    flex-wrap: wrap;
    input {
      width: 240px;
      height: 30px;
      font-size: 14px;
      margin: 0 5px;
    }
    
  }
}
