footer {
  padding: 50px 0;
  border-top: 1px solid #fff;
  // background-color: #788402;
  background-color: #262b2f;
  p {
    font-size: 11px;
    font-weight: 300;
    color: #fff;
  }
  ul {
    li {
      a {
        transition: 0.2s all ease-in-out;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .logo {
    display: block;
    width: 200px;
    img {
      object-fit: contain;
    }
  }
  .fw-nromal {
    font-family: $body_font;
  }
  label {
    font-size: 17px;
    text-transform: capitalize;
    margin-bottom: 10px;
    color: #fff;
    text-align: right;
    display: block;
  }
  .mail-info {
    display: flex;
    margin-left: auto;
    width: max-content;
    flex-wrap: wrap;
    input {
      width: 240px;
      height: 30px;
      font-size: 14px;
      margin: 0 5px;
    }
  }
}

.sticky_sharer_bar {
  position: fixed;
  bottom: 100px;
  top: auto;
  right: 0;
  z-index: 100;
  background-color: $color-orange;
  padding: 5px;
  border-radius: 2px;
  h5 {
    font-size: 11px;
    color: #fff;
  }
  ul {
    margin: 0;
    padding-bottom: 4px;
    li {
      background-color: $color-orange;
      padding: 2px;
      width: 30px;
      height: auto;
      margin: auto;
      & + li {
        margin-top: 5px;
      }
      a {
        display: flex;
        width: 100%;
        height: 100%;
        cursor: pointer;
        img {
          object-fit: contain;
        }
        span {
          display: none;
        }
      }
    }
  }
}

.rating_n_review {
  padding: 20px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: 0.3);
  h4 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  fieldset.rating {
    margin-bottom: 25px;
    label {
      &::after {
        content: "⭐";
        font-size: 20px;
        filter: grayscale(1);
        cursor: pointer;
      }
    }
    input:checked {
      & + label {
        &::after {
        filter: grayscale(0);
        }
      }
      // background-color: #000000;
    }
  }
  input[type="text"] {
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
    border: 1px solid #aaa;
  }
}
