header {
  // background-color: $color-white;
  padding: 14px 0px !important;
  position: sticky;
  transition: 0.2s all ease-in-out;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  @media (max-width: 1200px) {
    padding: 14px 15px !important;
  }
  .header_inner_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hamburger_menu {
      position: relative;
      z-index: 200;
      display: none;
      @media (max-width:990px) {
        display: block;
      }
      li {
        width: 35px;
        height: 3px;
        border-radius: 5px 0 5px 0;
        background-color: $color-orange;
        display: block;
        & + li {
          margin-top: 5px;
        }
      }
    }
    .brand_logo {
      display: block;
      width: 170px;
      height: 56px;
      margin-right: 15px;
      position: relative;
      z-index: 200;
      @media (max-width:570px) {
        width: 124px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    nav {
      .main_navigation {
        display: flex;
        margin: 0;
        align-items: center;
        .max-990{
          display: none;
          @media (max-width:990px) {
            display: block;
          }
        }
        .sticky_sharer_bar{
          position: absolute;
          bottom: 0;
          left: 15px;
          display: none;
          max-width: calc(100% - 30px);
          @media (max-width:990px) {
            display: block;
          }
          h5{
            font-size: 18px;
            &::after{
              content: 'to';
              padding-left: 5px;
            }
          }
          ul{
            display: flex;
            li{
              width: 55px;
              height: 55px;
              a{
                border-radius: 10px;
                overflow: hidden;
              }
            }
          }
        }

        & > li {
          // margin-right: 15px;
          height: 50px;
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 15px;
          .sub_dropdown {
            min-width: max-content;
            padding-left: 0;
            position: absolute;
            top: calc(100%);
            z-index: 100;
            left: 50%;
            transform: translateX(-50%) translateY(30px);
            background-color: $color-white;
            box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.4);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s all ease-in-out;
            pointer-events: none;

            .user_console {
              display: flex;
              padding: 5px 24px;
              align-items: flex-start;
              .user_data {
                span {
                  display: block;
                  font-size: 15px;
                  text-decoration: none;
                  font-weight: 400;
                  color: $color-black;
                }
                p {
                  font-size: 9px;
                }
              }
              img {
                object-fit: cover;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 5px;
              }
            }
            & > li {
              padding: 5px 28px;
              position: relative;
              a,
              span,
              h5 {
                display: block;
                font-size: 14px;
                text-decoration: none;
                padding: 10px 0;
                font-weight: 400;
                color: $color-black;
              }
              h5 {
                display: flex;
                justify-content: space-between;
                img {
                  object-fit: cover;
                  width: 15px;
                  height: 10px;
                  // border-radius: 50%;
                  // margin-right: 5px;
                }
              }
              .inner_dropdown {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                right: 100%;
                top: 0;
                min-width: max-content;
                z-index: 1;
                background-color: #fff;
                transition: 0.2s all ease-in-out;
                border-radius: 5px;
                box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.4);

                padding: 9px 17px;
                li {
                  a {
                    &:hover {
                      color: #fd7400;
                    }
                  }
                }
              }
              &:hover {
                background-color: #f7f5f5;
                & > a,
                span {
                  color: #fd7400;
                }
                .inner_dropdown {
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          &:hover {
            .sub_dropdown {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              transform: translateX(-50%) translateY(0px);
            }
            & > a {
              color: #fd7400 !important;
            }
          }
          a,
          h5 {
            font-size: 14px;
            text-decoration: none;
            font-weight: 300;
            color: $color-white;
            transition: 0.2s all ease-in-out;
            letter-spacing: 1px;
            display: block;
            font-family: $body_font;

            img {
              filter: invert(1);
            }
          }
          h5 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            position: relative;

            img {
              margin-left: 5px;
              width: 17px;
              height: 10px;
              object-fit: contain;
              fill: #000;
            }
          }
          &.contact_icon {
            width: 30px;
            height: 30px;
            transition: 0.2s all ease-in-out;
            padding: 0;
            @media (max-width:990px) {
              display: none;
            }
            &:hover {
              transform: scale(1.2);
            }
            a {
              display: block;
              width: 100%;
              height: 100%;
              filter: invert(0);
            }
            img {
              object-fit: contain;
              filter: invert(0);
              width: 100%;
              height: 100%;
            }
        
          }
        }
        @media (max-width: 990px) {
          // display: none;
          position: fixed;
          top: 0;
          right: 0;
          width: 350px;
          background-color: #fff;
          // z-index: 100;
          height: 100vh;
          flex-flow: column;
          align-items: flex-start;
          padding: 90px 20px;
          box-shadow: 0 0 10px 1px rgba($color: #000000, $alpha: .3);
          transform: translateX(100%);
          transition: .3s all ease-in-out;
          &>li {
              text-align: left;
              width: 100%;
              a,
              h5 {
                width: 100%;
                font-size: 18px;
                color: #000;
                img{
                  filter: invert(0);
                }
              }
          }
        }
        @media (max-width:570px) {
          width: 100vw;
        }
      }
    }
    .account_navigation {
      // display: none;
      display: flex;
      // align-self: flex-end;
      // align-items: center;
      margin-left: auto;
      margin-right: 0;
      .favourites {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .account_avatar {
        margin-left: 5px;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
        .account_lists {
          display: none;
        }
      }
    }
  }
  &.innerpages {
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba($color: #000000, $alpha: 0.2);

    .header_inner_wrapper nav .main_navigation > li a,
    .header_inner_wrapper nav .main_navigation > li h5 {
      color: #000;
    }
    .header_inner_wrapper nav .main_navigation > li a img,
    ,
    .header_inner_wrapper nav .main_navigation > li h5 img {
      filter: invert(0);
    }
  }
}
body.sticky_header {
  header .header_inner_wrapper nav .main_navigation > li a img,
  header .header_inner_wrapper nav .main_navigation > li h5 img {
    filter: invert(0);
  }
  header .header_inner_wrapper nav .main_navigation > li a,
  header .header_inner_wrapper nav .main_navigation > li h5 {
    color: #000;
  }
  header {
    background-color: #fff;
    box-shadow: 0 0 15px 1px rgba($color: #000000, $alpha: 0.2);
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}
.mobile_nav_open{
  header .header_inner_wrapper nav .main_navigation{
    transform: translateX(0);
  }
}