header {
  background-color: $color-white;
  padding: 14px 0px !important;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0 0 15px 1px rgba($color: #000000, $alpha: 0.2);
  .header_inner_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand_logo {
      display: block;
      width: 170px;
      height: 56px;
      margin-right: 15px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    nav {
      .main_navigation {
        display: flex;
        margin: 0 15px;

        & > li {
          // margin-right: 15px;
          height: 50px;
          display: flex;
          align-items: center;
          position: relative;
          padding: 0 15px;
          .sub_dropdown {
            min-width: max-content;
            padding-left: 0;
            position: absolute;
            top: calc(100%);
            z-index: 100;
            left: 50%;
            transform: translateX(-50%);
            background-color: $color-white;
            box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.4);
            opacity: 0;
            visibility: hidden;
            transition: 0.3s all ease-in-out;
            pointer-events: none;
            .user_console {
              display: flex;
              padding: 5px 24px;
              align-items: flex-start;
              .user_data {
                span {
                  display: block;
                  font-size: 15px;
                  text-decoration: none;
                  font-weight: 400;
                  color: $color-black;
                }
                p {
                  font-size: 9px;
                }
              }
              img {
                object-fit: cover;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin-right: 5px;
              }
            }
            & > li {
              padding: 5px 28px;
              position: relative;
              a,
              span,h5 {
                display: block;
                font-size: 14px;
                text-decoration: none;
                padding: 10px 0;
                font-weight: 400;
                color: $color-black;
              }
              .inner_dropdown{
                opacity: 0;
                visibility: hidden;
                position: absolute;
                right: 100%;
                top: 0;
                min-width: max-content;
                z-index: 1;
                background-color: #fff;
                transition: .2s all ease-in-out;
                border-radius: 5px;
            box-shadow: 0 0 10px 1px rgba($color: #000, $alpha: 0.4);

                padding: 5px 10px;
                li{
                  a{
                    &:hover{
                  color: #ef5e4e;

                    }
                  }
                }
              }
              &:hover {
                background-color: #f7f5f5;
                &>a,
                span {
                  color: #ef5e4e;
                }
                .inner_dropdown{
                  opacity: 1;
                  visibility: visible;
                }
              }
            }
          }
          &:hover {
            .sub_dropdown {
              opacity: 1;
              visibility: visible;
              pointer-events: all;
            }
          }
          a,
          h5 {
            font-size: 14px;
            text-decoration: none;
            font-weight: 400;
            color: $color-black;
          }
          h5 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;
            position: relative;

            img {
              margin-left: 5px;
              width: 17px;
              height: 10px;
              object-fit: contain;
              fill: #000;
            }
          }
        }
      }
    }
    .account_navigation {
      // display: none;
      display: flex;
      // align-self: flex-end;
      // align-items: center;
      margin-left: auto;
      margin-right: 0;
      .favourites {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .account_avatar {
        margin-left: 5px;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
        .account_lists {
          display: none;
        }
      }
    }
  }
}

.toggle_darktheme {
  background-color: #ef5e4e;
  height: 17px;
  border-radius: 10px;
  width: 30px;
  padding: 1px;
  span {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.2s all ease-in-out;
    display: block;
  }

  &.active {
    span {
      transform: translateX(13px);
    }
  }
}

.bg_dark {
  background-color: #1b2430;
  .recc_prop_section h5,
  .recc_prop_section h1 {
    color: #fff;
  }

  form.rent_or_buuy_form_wrp fieldset .search_place ,form.rent_or_buuy_form_wrp fieldset .field_dropdown{
    background-color: #fff;
  }
  form.rent_or_buuy_form_wrp fieldset span.btn{
    // background-color: #fff;
    // border: 1px solid #fff;
  }
  .recc_prop_section .prop_search_result_card {
    background-color: #51557e;
  }
  .advanced_search,
  .rent_or_buuy_form_wrp {
    background-color: #f24c4c;
  }
}
