body {
  margin: 0;
  font-family: 'Open Sans','sans-serif';
}

body:focus {
  outline: none;
}

ul, ol {
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  max-width: 1175px !important;
  margin: auto;
  padding: 0 15px;
}

.m-0 {
  margin: 0;
}

#nprogress .bar {
  background: red !important;
  height: 3px !important;
  border: none !important;
  outline: none !important;
}

img {
  width: 100%;
  height: 100%;
}

.page_loader_outer {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  pointer-events: none;
}

.page_loader_outer img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

a:focus {
  box-shadow: none !important;
}

header {
  background-color: #ffffff;
  padding: 14px 0px !important;
}

header .header_inner_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header_inner_wrapper .brand_logo {
  display: block;
  width: 109px;
  height: 45px;
  margin-right: 15px;
}

header .header_inner_wrapper .brand_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .header_inner_wrapper nav .main_navigation {
  display: flex;
  margin: 0 15px;
}

header .header_inner_wrapper nav .main_navigation > li {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0 15px;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown {
  min-width: max-content;
  position: absolute;
  top: calc(100%);
  z-index: 100;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  pointer-events: none;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown .user_console {
  display: flex;
  padding: 5px 24px;
  align-items: flex-start;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown .user_console .user_data span {
  display: block;
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: #000;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown .user_console .user_data p {
  font-size: 9px;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown .user_console img {
  object-fit: cover;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 5px;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown > li {
  padding: 5px 24px;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown > li a, header .header_inner_wrapper nav .main_navigation > li .sub_dropdown > li span {
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 0;
  font-weight: 400;
  color: #000;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown > li:hover {
  background-color: #f7f5f5;
}

header .header_inner_wrapper nav .main_navigation > li .sub_dropdown > li:hover a, header .header_inner_wrapper nav .main_navigation > li .sub_dropdown > li:hover span {
  color: #ef5e4e;
}

header .header_inner_wrapper nav .main_navigation > li:hover .sub_dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

header .header_inner_wrapper nav .main_navigation > li a,
header .header_inner_wrapper nav .main_navigation > li h5 {
  font-size: 14px;
  text-decoration: none;
  font-weight: 400;
  color: #000;
}

header .header_inner_wrapper nav .main_navigation > li h5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

header .header_inner_wrapper nav .main_navigation > li h5 img {
  margin-left: 5px;
  width: 17px;
  height: 10px;
  object-fit: contain;
  fill: #000;
}

header .header_inner_wrapper .account_navigation {
  display: flex;
  margin-left: auto;
  margin-right: 0;
}

header .header_inner_wrapper .account_navigation .favourites {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

header .header_inner_wrapper .account_navigation .favourites img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

header .header_inner_wrapper .account_navigation .account_avatar {
  margin-left: 5px;
}

header .header_inner_wrapper .account_navigation .account_avatar img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

header .header_inner_wrapper .account_navigation .account_avatar .account_lists {
  display: none;
}

.home_page_banner {
  width: 100%;
  position: relative;
  height: 560px;
}

.home_page_banner .bg_image {
  width: 100%;
  height: 100%;
  position: relative;
}

.home_page_banner .bg_image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.home_page_banner .bg_image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_page_banner .main_contents {
  position: absolute;
  top: 0;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 100%;
}

.home_page_banner .main_contents h1 {
  color: #ffffff;
  font-size: 57px;
  font-weight: 700;
  text-align: center;
  display: block;
  margin: 100px 0;
}

.home_page_banner .main_contents .search_filter_forms {
  user-select: none;
}

.home_page_banner .main_contents .search_filter_forms .form_wrapper {
  background-color: #ffffff;
  padding: 24px;
  border-radius: 10px;
}

.home_page_banner .main_contents .search_filter_forms .form_wrapper > nav {
  display: flex;
  margin-bottom: 15px;
}

.home_page_banner .main_contents .search_filter_forms .form_wrapper > nav span {
  margin-right: 15px;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: #000;
  display: block;
  line-height: 1;
  border: 1px solid #eee;
  background-color: #eee;
}

.home_page_banner .main_contents .search_filter_forms .form_wrapper > nav span.active {
  background-color: #e8f4f6;
  color: #007ea8;
  border: 1px solid #007ea8;
}

form.rent_or_buuy_form_wrp .top_type {
  margin-bottom: 10px;
}

form.rent_or_buuy_form_wrp .top_type .options {
  display: flex;
}

form.rent_or_buuy_form_wrp .top_type .options fieldset label {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  border-radius: 5px;
  color: #000;
  background-color: #eee;
  display: block;
  margin-right: 5px;
  border: 1px solid #eee;
}

form.rent_or_buuy_form_wrp .top_type .options fieldset input[type='radio'] {
  display: none;
}

form.rent_or_buuy_form_wrp .top_type .options fieldset input[type='radio']:checked + label {
  border: #007ea8 1px solid;
  background-color: #e8f4f6;
}

form.rent_or_buuy_form_wrp fieldset span.btn {
  margin: 0 5px;
  display: inline-block;
}

form.rent_or_buuy_form_wrp fieldset .form_row {
  display: flex;
  margin: 0 -5px;
}

form.rent_or_buuy_form_wrp fieldset .form_row button {
  font-size: 14px;
}

form.rent_or_buuy_form_wrp fieldset .more_filter_opt {
  margin: 10px -5px 10px;
  display: flex;
  justify-content: flex-end;
}

form.rent_or_buuy_form_wrp fieldset .show_nore {
  display: block;
  width: max-content;
}

form.rent_or_buuy_form_wrp fieldset .search_place {
  display: flex;
  border-radius: 5px;
  flex: 1;
  padding: 10px;
  border: 1px solid #aaa;
  margin: 0 5px;
}

form.rent_or_buuy_form_wrp fieldset .search_place input {
  display: block !important;
}

form.rent_or_buuy_form_wrp fieldset .search_place .field_dropdown {
  border: none;
  min-width: calc(100% - 35px);
  padding: 0;
}

form.rent_or_buuy_form_wrp fieldset .search_place .field_dropdown span {
  display: block;
  width: 100%;
}

form.rent_or_buuy_form_wrp fieldset .search_place .list_drop {
  width: 100%;
}

form.rent_or_buuy_form_wrp fieldset .search_place .list_drop li {
  display: flex;
  align-items: flex-start;
  line-height: 15px;
}

form.rent_or_buuy_form_wrp fieldset .search_place .list_drop li img {
  width: 15px;
  height: 20px;
  object-fit: contain;
  margin-right: 8px;
}

form.rent_or_buuy_form_wrp fieldset .search_place input {
  flex: 1;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #000;
}

form.rent_or_buuy_form_wrp fieldset .search_place .search_icon {
  width: 15px;
  height: 18px;
  margin-right: 10px;
}

form.rent_or_buuy_form_wrp fieldset .search_place .search_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

form.rent_or_buuy_form_wrp fieldset .search_place .search_dropdown {
  display: none;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown {
  display: flex;
  border-radius: 5px;
  margin: 0 5px;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  max-width: max-content;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #aaa;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .btn {
  color: #fff;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .mh-300 {
  max-height: 200px;
  overflow-y: auto;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown span, form.rent_or_buuy_form_wrp fieldset .field_dropdown select, form.rent_or_buuy_form_wrp fieldset .field_dropdown input {
  padding: 3px  10px;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  color: #000;
  overflow: hidden;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown select {
  background-color: transparent;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown select option {
  padding: 10px;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .drp_icon {
  width: 12px;
  height: 12px;
  margin-left: 5px;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .drp_icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown input {
  display: none;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .dropdown_wrap {
  max-height: 300px;
  position: absolute;
  top: calc(100% + 10px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  min-width: 200px;
  width: 100%;
  background-color: #ffffff;
  display: none;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .list_drop {
  height: 100%;
  overflow-y: auto;
  max-height: calc(300px - 45px);
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .list_drop .noresults {
  display: none;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .list_drop .noresults:only-child {
  display: block;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .list_drop li {
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 5px;
  font-weight: 400;
  color: #000;
  padding: 5px 10px;
  transition: 0.1s all ease-in-out;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown .list_drop li:hover {
  background-color: #ccc;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.open .dropdown_wrap {
  display: block;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box {
  display: none;
  position: absolute;
  top: calc(100% + 10px);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.4);
  right: 0%;
  z-index: 1;
  border-radius: 10px;
  min-width: 200px;
  background-color: #ffffff;
  display: none;
  padding: 15px;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box h5 {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 10px;
  font-weight: 700;
  color: #000;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field {
  display: flex;
  margin: 0 -5px;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field .input_fields {
  padding: 10px;
  border-radius: 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field .input_fields label {
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #000;
  display: block;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field .input_fields input {
  display: flex;
  flex: 1;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #000;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field .options {
  display: flex;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field .options fieldset label {
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  border-radius: 5px;
  color: #000;
  background-color: #eee;
  display: block;
  margin-right: 5px;
  border: 1px solid #eee;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field .options fieldset input[type='radio'] {
  display: none;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn .drop_box .row_field .options fieldset input[type='radio']:checked + label {
  border: #007ea8 1px solid;
  background-color: #e8f4f6;
}

form.rent_or_buuy_form_wrp fieldset .field_dropdown.input_box_drpdwn.open .drop_box {
  display: block;
}

.hidden {
  display: none;
}

.hidden {
  display: none !important;
}

.recc_prop_section {
  width: 100%;
  padding: 30px 0;
}

.recc_prop_section .title_wrp {
  margin-bottom: 30px;
}

.recc_prop_section select {
  max-width: max-content;
}

.recc_prop_section h1 {
  font-weight: 600;
  text-transform: capitalize;
}

.recc_prop_section h1:only-child {
  display: none;
}

.recc_prop_section h5 {
  font-size: 24px;
  line-height: 1;
  font-weight: 600;
  color: #000;
}

.recc_prop_section a {
  text-decoration: none;
}

.recc_prop_section .prop_col_card {
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.2);
}

.recc_prop_section .prop_col_card .prop_img {
  width: 100%;
  height: 200px;
  position: relative;
}

.recc_prop_section .prop_col_card .prop_img .builder_logo {
  width: auto;
  height: 40px;
  left: 10px;
  bottom: 10px;
  z-index: 1;
  overflow: hidden;
  position: absolute;
}

.recc_prop_section .prop_col_card .prop_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recc_prop_section .prop_col_card .body_coopy {
  background-color: aliceblue;
  padding: 10px;
}

.recc_prop_section .prop_col_card .body_coopy h4 {
  font-size: 15px;
  text-decoration: none;
  line-height: 20px;
  color: #000;
  margin-bottom: 7px;
}

.recc_prop_section .prop_col_card .body_coopy .card_footer {
  display: flex;
  flex-wrap: wrap;
}

.recc_prop_section .prop_col_card .body_coopy .card_footer span {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  color: #000;
  margin-right: 10px;
}

.recc_prop_section .prop_col_card .body_coopy .card_footer span.price {
  color: #ef5e4e;
  font-weight: 600;
  font-size: 13px;
}

.recc_prop_section .prop_search_result_card {
  display: flex;
  margin-bottom: 20px;
  transition: .3s all ease-in-out;
}

.recc_prop_section .prop_search_result_card:hover {
  transform: translateX(10px);
}

.recc_prop_section .prop_search_result_card .prop_img {
  width: 280px;
  height: 200px;
}

.recc_prop_section .prop_search_result_card .prop_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recc_prop_section .prop_search_result_card .body_coopy {
  width: calc(100% - 280px);
  padding-left: 15px;
}

.recc_prop_section .prop_search_result_card .body_coopy h4 {
  font-weight: 700;
  font-size: 16px;
  color: #000;
  line-height: 20px;
  margin-bottom: 5px;
}

.recc_prop_section .prop_search_result_card .body_coopy h3 {
  font-weight: 500;
  font-size: 19px;
  color: #000;
  line-height: 23px;
  margin-bottom: 8px;
}

.recc_prop_section .prop_search_result_card .body_coopy .card_footer {
  margin-bottom: 20px;
}

.recc_prop_section .prop_search_result_card .body_coopy .card_footer span {
  font-weight: 400;
  font-size: 15px;
  color: #000;
  line-height: 19px;
  margin-right: 12px;
}

.recc_prop_section .prop_search_result_card .body_coopy h6 {
  font-size: 15px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
}

.add_prop_form {
  max-width: 1000px;
  margin: 50px auto;
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.add_prop_form h3 {
  font-size: 35px;
  color: #000;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 20px;
  display: block;
  width: 100%;
}

.add_prop_form .btn-xl {
  font-size: 15px;
}

.add_prop_form fieldset {
  display: block;
  margin-bottom: 20px;
  width: 48%;
}

.add_prop_form fieldset label {
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: #000;
}

.add_prop_form fieldset input, .add_prop_form fieldset select, .add_prop_form fieldset textarea {
  display: block;
  flex: 1;
  font-size: 15px;
  padding: 2px 10px;
  resize: none;
  width: 100%;
  border: 1px solid #aaa;
}

.add_prop_form fieldset textarea {
  height: 60px;
}

.section_prop_details {
  padding: 50px 0;
  width: 100%;
}

.section_prop_details .prop_image_wr {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  overflow: hidden;
}

.section_prop_details .prop_image_wr img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section_prop_details .points_wrp {
  list-style-type: circle;
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
  border-radius: 15px;
  padding: 20px;
  height: 100%;
}

.section_prop_details .points_wrp li {
  flex: 100%;
  margin-bottom: 15px;
}

.section_prop_details .points_wrp li h5 {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  margin-bottom: 10px;
  opacity: .7;
  line-height: 15px;
}

.section_prop_details .points_wrp li span {
  font-size: 19px;
  color: #000;
  font-weight: 500;
  line-height: 19px;
}

.section_prop_details .body_copy {
  margin-top: 20px;
}

.section_prop_details .body_copy h4 {
  font-size: 14px;
}

.section_prop_details .body_copy h1 {
  margin-bottom: 15px;
  font-size: 28px;
}

.section_prop_details .body_copy p {
  font-size: 13px;
  line-height: 19px;
}

.section_prop_details .body_copy .points_wrp {
  background-color: beige;
}

.section_prop_details .body_copy .points_wrp li {
  flex: 1;
  padding: 0 10px 0 0;
}

.section_prop_details .body_copy .description {
  font-size: 14px;
}

.custom_editor {
  width: 100%;
}

.custom_editor .controlBar {
  margin-bottom: 10px;
  display: flex;
}

.custom_editor .controlBar select, .custom_editor .controlBar button {
  background-color: #eee;
  margin-right: 10px;
  font-size: 15px;
  padding: 2px 8px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-weight: 700;
  max-width: max-content;
}

.custom_editor textarea {
  border: 1px solid #000;
  width: 100%;
  height: 250px !important;
  padding: 15px;
  resize: none;
  font-size: 15px;
}

.agent_details {
  padding: 30px 0;
}

.agent_details .inner {
  display: flex;
}

.agent_details .agent_img {
  width: 400px;
  height: 450px;
}

.agent_details .agent_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.agent_details .body_copy {
  padding-left: 15px;
  flex: 1;
}

.agent_details .body_copy .card img {
  width: 150px;
}

.agent_details .body_copy p {
  font-size: 14px;
}

.pagination {
  margin: 0 -5px;
}

.pagination .page-item.active .page-link {
  background-color: #ef5e4e;
  border-color: #ef5e4e;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-item.nav .page-link {
  background-color: #ef5e4e;
  border-color: #ef5e4e;
  color: #fff;
}

.pagination .page-item.nav.disabled {
  opacity: .5;
}

.agents_listing_grid {
  padding: 50px 0;
}

.agents_listing_grid a {
  text-decoration: none;
  display: block;
  transition: .3s all ease-in-out;
  margin-bottom: 15px;
}

.agents_listing_grid a:hover {
  transform: scale(1.1);
}

.agents_listing_grid a img {
  height: 200px;
  object-fit: cover;
}

.agents_listing_grid a h5 {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}

.agents_listing_grid a p {
  text-align: center;
  color: #000;
}

.static_banner {
  width: 100%;
  height: 450px;
  position: relative;
}

.static_banner .bg_image_banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.static_banner .bg_image_banner img {
  object-fit: cover;
}

.static_banner .bg_image_banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.static_banner .inner_wrap_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
  height: 100%;
}

.static_banner .inner_wrap_banner .banner_content {
  max-width: 850px;
  text-align: center;
  margin: auto;
  padding: 20px 15px;
}

.static_banner .inner_wrap_banner .banner_content span {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffff;
}

.static_banner .inner_wrap_banner .banner_content h1 {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  margin: 0;
  font-size: 34px;
}

.static_banner .inner_wrap_banner .banner_content p {
  font-size: 14px;
  margin-bottom: 15px;
  font-weight: 400;
  color: #ffffff;
  margin: 15px 0;
}

.guide_bodycopy {
  padding: 50px 0 80px;
}

.guide_bodycopy .description_rep_box {
  margin-bottom: 20px;
}

.guide_bodycopy .description_rep_box h2 {
  font-size: 26px;
  font-weight: 600;
  color: #000;
  line-height: 30px;
  margin-bottom: 15px;
}

.guide_bodycopy .description_rep_box > p {
  line-height: 26px;
  font-weight: 300;
  font-size: 16px;
  color: #403b45;
  margin-bottom: 35px;
  overflow: hidden;
  position: relative;
}

.guide_bodycopy .description_rep_box > p span {
  font-weight: 600;
  float: right;
  position: absolute;
  bottom: -10px;
  cursor: pointer;
  right: 0;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 0 15px 1px white;
  padding: 5px 10px;
}

.guide_bodycopy .description_rep_box .row .col-12 a {
  text-decoration: none;
}

@media (max-width: 990px) {
  .guide_bodycopy .description_rep_box .row .col-12 a .redir_card {
    margin-bottom: 35px;
  }
}

.guide_bodycopy .description_rep_box .row .col-12 a .redir_card img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  margin-bottom: 15px;
}

.guide_bodycopy .description_rep_box .row .col-12 a .redir_card h4 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 15px;
  line-height: 26px;
  color: #403b45;
}

.guide_bodycopy .description_rep_box .row .col-12 a .redir_card p {
  line-height: 26px;
  font-weight: 300;
  font-size: 16px;
  color: #403b45;
}
